@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên Mật Khẩu ";
}
 
 
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h1 style="margin-left:auto;margin-right:auto">@ViewData["Title"]</h1>
<h2 style="margin-left:auto;margin-right:auto">Hãy điền email của bạn</h2>
<hr />
@* <div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>
 *@
<div class="card text-center" style="width: 300px; justify-content:center;margin-left:auto;margin-right:auto">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <input type="email" id="typeEmail" class="form-control my-3" />
            <label class="form-label" for="typeEmail"> </label>
        </div>
        <a style="background:#78C800;border-radius:15px;font-weight:bold; border-width:2px; border-color:black; border-radius:10px" href="/Identity/Account/ForgotPasswordConfirmation"><div style="color:black">Reset password</div></a>
        
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="/Identity/Account/Login">Login</a>
            <a class="" href="/Identity/Account/Register">Register</a>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}   
