body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.content-login h2 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 50px;
  font-weight: 800;
  white-space: nowrap;
}
.content-login {
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  height: 450px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: none;
}

input {
  width: 100%; /* Đặt chiều rộng của input để nó đầy đủ chiều rộng của form */
  box-sizing: border-box; /* Đảm bảo chiều rộng và padding tính cả border */
  border: none;
  outline: none;
  background-color: transparent; /* Đặt nền trong suốt để không che phủ hình ảnh nền */
  padding: 10px;
  border-bottom: 1px solid #787676; /* Gạch chân dưới màu xám nhạt */
  margin-bottom: 5px;
}

/* Hiệu ứng hover khi rê chuột vào ô input */
input:hover {
  border-bottom: 1px solid green; /* Gạch chân dưới màu xanh khi rê chuột vào */
}

/* Hiệu ứng focus khi ô input được chọn */
input:focus {
  border-bottom: 2px solid green; /* Gạch chân dưới màu xanh đậm khi ô input được focus */
}
input::placeholder {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.password-input {
  position: relative;
}

.button-login button {
  background-color: #4caf50;
  color: white;
  padding: 15px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1rem;
  margin-top: 25px;
  font-weight: 550;
  transition: transform 0.3s;
}
.button-login button:hover {
  transform: scale(1.1);
}
.forgot-password,
.create-account {
  margin-top: 10px;
  margin-left: -25px;
  font-size: 1rem;
  line-height: 30px;
  width: 200px;
  font-weight: 600;
}

.forgot-password a,
.create-account a {
  color: black;
  text-decoration: none;
}
.forgot-password a:hover,
.create-account a:hover {
  color: green;
}
.form-group2 {
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: black;
}

.form-group2 label2 {
  color: black;
  margin-left: -155px;
  font-weight: 600;
}
input[type="checkbox"] {
  order: -1;
  margin-left: -160px;
  margin-top: 5px;
}
/* ... các phần CSS trước đó ... */

@media only screen and (max-width: 900px) {
  .content {
    transform: translateX(-50%);
    margin-top: -270px;
    width: 100%;
    margin-left: 50px;
  }

  .content-login h2 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 50px;
    font-weight: 800;
    white-space: nowrap;
    margin-right: -20px;
  }

  .content-login {
    width: 80%;
    max-width: 300px; /* Điều chỉnh chiều rộng tối đa của form cho điện thoại */
    margin: auto; /* Canh giữa form */
    position: relative; /* Đảm bảo form không bị lệch khi sử dụng margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center; /* Canh giữa theo chiều ngang */
    justify-content: center; /* Canh giữa theo chiều dọc */
  }

  .form-group2 {
    white-space: nowrap;
    display: flex;
    flex-direction: row-reverse; /* Đảo ngược chiều dọc */
    align-items: center;
    color: black;
  }

  .form-group2 label2 {
    color: black;
    font-weight: 600;
    margin-right: -50px;
  }

  input[type="checkbox"] {
    order: -1;
    margin-top: 5px;
  }
}
